style.
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main,
  .sidebar {
    padding: 15px;
  }

  .main {
    width: 85%;

  }
  .sidebar {
    width: 15%;
  }
div.wrapper
  div.sidebar
    include sidebar.pug
  div.main(id="main")
